In [7]:
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.graph_objects as go


data = pd.read_csv('world-data-2023.csv')
print(data)

         Country Density\n(P/Km2) Abbreviation Agricultural Land( %)  \
0    Afghanistan               60           AF                58.10%
1        Albania              105           AL                43.10%
2        Algeria               18           DZ                17.40%
3        Andorra              164           AD                40.00%
4         Angola               26           AO                47.50%
..           ...              ...          ...                   ...
190    Venezuela               32           VE                24.50%
191      Vietnam              314           VN                39.30%
192        Yemen               56           YE                44.60%
193       Zambia               25           ZM                32.10%
194     Zimbabwe               38           ZW                41.90%

    Land Area(Km2) Armed Forces size  Birth Rate  Calling Code  \
0          652,230           323,000       32.49          93.0
1           28,748             9,000       11.78         355.0
2        2,381,741           317,000       24.28         213.0
3              468               NaN        7.20         376.0
4        1,246,700           117,000       40.73         244.0
..             ...               ...         ...           ...
190        912,050           343,000       17.88          58.0
191        331,210           522,000       16.75          84.0
192        527,968            40,000       30.45         967.0
193        752,618            16,000       36.19         260.0
194        390,757            51,000       30.68         263.0

    Capital/Major City Co2-Emissions  ... Out of pocket health expenditure  \
0                Kabul         8,672  ...                           78.40%
1               Tirana         4,536  ...                           56.90%
2              Algiers       150,006  ...                           28.10%
3     Andorra la Vella           469  ...                           36.40%
4               Luanda        34,693  ...                           33.40%
..                 ...           ...  ...                              ...
190            Caracas       164,175  ...                           45.80%
191              Hanoi       192,668  ...                           43.50%
192              Sanaa        10,609  ...                           81.00%
193             Lusaka         5,141  ...                           27.50%
194             Harare        10,983  ...                           25.80%

    Physicians per thousand  Population  \
0                      0.28  38,041,754
1                      1.20   2,854,191
2                      1.72  43,053,054
3                      3.33      77,142
4                      0.21  31,825,295
..                      ...         ...
190                    1.92  28,515,829
191                    0.82  96,462,106
192                    0.31  29,161,922
193                    1.19  17,861,030
194                    0.21  14,645,468

     Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
0                                       48.90%           9.30%         71.40%
1                                       55.70%          18.60%         36.60%
2                                       41.20%          37.20%         66.10%
3                                          NaN             NaN            NaN
4                                       77.50%           9.20%         49.10%
..                                         ...             ...            ...
190                                     59.70%             NaN         73.30%
191                                     77.40%          19.10%         37.60%
192                                     38.00%             NaN         26.60%
193                                     74.60%          16.20%         15.60%
194                                     83.10%          20.70%         31.60%

    Unemployment rate Urban_population   Latitude   Longitude
0              11.12%        9,797,273  33.939110   67.709953
1              12.33%        1,747,593  41.153332   20.168331
2              11.70%       31,510,100  28.033886    1.659626
3                 NaN           67,873  42.506285    1.521801
4               6.89%       21,061,025 -11.202692   17.873887
..                ...              ...        ...         ...
190             8.80%       25,162,368   6.423750  -66.589730
191             2.01%       35,332,140  14.058324  108.277199
192            12.91%       10,869,523  15.552727   48.516388
193            11.43%        7,871,713 -13.133897   27.849332
194             4.95%        4,717,305 -19.015438   29.154857

[195 rows x 35 columns]

In [11]:
filtered_data=data[data['Birth Rate']>40]
print(filtered_data)

                              Country Density\n(P/Km2) Abbreviation  \
4                              Angola               26           AO
34                               Chad               13           TD
45   Democratic Republic of the Congo               40           CD
105                              Mali               17           ML
125                             Niger               19           NE
160                           Somalia               25           SO

    Agricultural Land( %) Land Area(Km2) Armed Forces size  Birth Rate  \
4                  47.50%      1,246,700           117,000       40.73
34                 39.70%      1,284,000            35,000       42.17
45                 11.60%      2,344,858           134,000       41.18
105                33.80%      1,240,192            18,000       41.54
125                36.10%      1,267,000            10,000       46.08
160                70.30%        637,657            20,000       41.75

     Calling Code Capital/Major City Co2-Emissions  ...  \
4           244.0             Luanda        34,693  ...
34          235.0          N'Djamena         1,016  ...
45          243.0           Kinshasa         2,021  ...
105         223.0             Bamako         3,179  ...
125         227.0             Niamey         2,017  ...
160         252.0          Mogadishu           645  ...

    Out of pocket health expenditure Physicians per thousand  Population  \
4                             33.40%                    0.21  31,825,295
34                            56.40%                    0.04  15,946,876
45                            37.40%                    0.07  86,790,567
105                           46.30%                    0.13  19,658,031
125                           52.30%                    0.04  23,310,715
160                              NaN                    0.02  15,442,905

     Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
4                                       77.50%           9.20%         49.10%
34                                      70.70%             NaN         63.50%
45                                      63.50%          10.70%         50.70%
105                                     70.80%          11.60%         54.50%
125                                     72.00%          11.80%         47.20%
160                                     47.40%           0.00%            NaN

    Unemployment rate Urban_population   Latitude  Longitude
4               6.89%       21,061,025 -11.202692  17.873887
34              1.89%        3,712,273  15.454166  18.732207
45              4.24%       39,095,679  -4.038333  21.758664
105             7.22%        8,479,688  17.570692  -3.996166
125             0.47%        3,850,231  17.607789   8.081666
160            11.35%        7,034,861   5.152149  46.199616

[6 rows x 35 columns]

In [10]:
filtered_data=data[data['Land Area(Km2)']>500000]
print(filtered_data)

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
data1=pd.read_csv('world-data-2023.csv')
data2=pd.read_csv('world-data-2023-Copy1.csv')
merged_data=pd.merge(data1,data2,on='Country')
print(merged_data)

         Country Density\n(P/Km2)_x Abbreviation_x Agricultural Land( %)_x  \
0    Afghanistan                 60             AF                  58.10%
1        Albania                105             AL                  43.10%
2        Algeria                 18             DZ                  17.40%
3        Andorra                164             AD                  40.00%
4         Angola                 26             AO                  47.50%
..           ...                ...            ...                     ...
190    Venezuela                 32             VE                  24.50%
191      Vietnam                314             VN                  39.30%
192        Yemen                 56             YE                  44.60%
193       Zambia                 25             ZM                  32.10%
194     Zimbabwe                 38             ZW                  41.90%

    Land Area(Km2)_x Armed Forces size_x  Birth Rate_x  Calling Code_x  \
0            652,230             323,000         32.49            93.0
1             28,748               9,000         11.78           355.0
2          2,381,741             317,000         24.28           213.0
3                468                 NaN          7.20           376.0
4          1,246,700             117,000         40.73           244.0
..               ...                 ...           ...             ...
190          912,050             343,000         17.88            58.0
191          331,210             522,000         16.75            84.0
192          527,968              40,000         30.45           967.0
193          752,618              16,000         36.19           260.0
194          390,757              51,000         30.68           263.0

    Capital/Major City_x Co2-Emissions_x  ...  \
0                  Kabul           8,672  ...
1                 Tirana           4,536  ...
2                Algiers         150,006  ...
3       Andorra la Vella             469  ...
4                 Luanda          34,693  ...
..                   ...             ...  ...
190              Caracas         164,175  ...
191                Hanoi         192,668  ...
192                Sanaa          10,609  ...
193               Lusaka           5,141  ...
194               Harare          10,983  ...

    Out of pocket health expenditure_y Physicians per thousand_y Population_y  \
0                               78.40%                      0.28   38,041,754
1                               56.90%                      1.20    2,854,191
2                               28.10%                      1.72   43,053,054
3                               36.40%                      3.33       77,142
4                               33.40%                      0.21   31,825,295
..                                 ...                       ...          ...
190                             45.80%                      1.92   28,515,829
191                             43.50%                      0.82   96,462,106
192                             81.00%                      0.31   29,161,922
193                             27.50%                      1.19   17,861,030
194                             25.80%                      0.21   14,645,468

     Population: Labor force participation (%)_y Tax revenue (%)_y  \
0                                         48.90%             9.30%
1                                         55.70%            18.60%
2                                         41.20%            37.20%
3                                            NaN               NaN
4                                         77.50%             9.20%
..                                           ...               ...
190                                       59.70%               NaN
191                                       77.40%            19.10%
192                                       38.00%               NaN
193                                       74.60%            16.20%
194                                       83.10%            20.70%

    Total tax rate_y Unemployment rate_y Urban_population_y Latitude_y  \
0             71.40%              11.12%          9,797,273  33.939110
1             36.60%              12.33%          1,747,593  41.153332
2             66.10%              11.70%         31,510,100  28.033886
3                NaN                 NaN             67,873  42.506285
4             49.10%               6.89%         21,061,025 -11.202692
..               ...                 ...                ...        ...
190           73.30%               8.80%         25,162,368   6.423750
191           37.60%               2.01%         35,332,140  14.058324
192           26.60%              12.91%         10,869,523  15.552727
193           15.60%              11.43%          7,871,713 -13.133897
194           31.60%               4.95%          4,717,305 -19.015438

     Longitude_y
0      67.709953
1      20.168331
2       1.659626
3       1.521801
4      17.873887
..           ...
190   -66.589730
191   108.277199
192    48.516388
193    27.849332
194    29.154857

[195 rows x 69 columns]

In [16]:
data.fillna(0,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density
(P/Km2)                            195 non-null    object
 2   Abbreviation                               195 non-null    object
 3   Agricultural Land( %)                      195 non-null    object
 4   Land Area(Km2)                             195 non-null    object
 5   Armed Forces size                          195 non-null    object
 6   Birth Rate                                 195 non-null    float64
 7   Calling Code                               195 non-null    float64
 8   Capital/Major City                         195 non-null    object
 9   Co2-Emissions                              195 non-null    object
 10  CPI                                        195 non-null    object
 11  CPI Change (%)                             195 non-null    object
 12  Currency-Code                              195 non-null    object
 13  Fertility Rate                             195 non-null    float64
 14  Forested Area (%)                          195 non-null    object
 15  Gasoline Price                             195 non-null    object
 16  GDP                                        195 non-null    object
 17  Gross primary education enrollment (%)     195 non-null    object
 18  Gross tertiary education enrollment (%)    195 non-null    object
 19  Infant mortality                           195 non-null    float64
 20  Largest city                               195 non-null    object
 21  Life expectancy                            195 non-null    float64
 22  Maternal mortality ratio                   195 non-null    float64
 23  Minimum wage                               195 non-null    object
 24  Official language                          195 non-null    object
 25  Out of pocket health expenditure           195 non-null    object
 26  Physicians per thousand                    195 non-null    float64
 27  Population                                 195 non-null    object
 28  Population: Labor force participation (%)  195 non-null    object
 29  Tax revenue (%)                            195 non-null    object
 30  Total tax rate                             195 non-null    object
 31  Unemployment rate                          195 non-null    object
 32  Urban_population                           195 non-null    object
 33  Latitude                                   195 non-null    float64
 34  Longitude                                  195 non-null    float64
dtypes: float64(9), object(26)
memory usage: 53.4+ KB